@{
    ViewBag.Title = "About";
}
<h2>About This Project</h2>


<h3>Technologies used:</h3>
<ul>
    <li>Selenium</li>
    <li>ChromeDriver</li>
    <li>MS SQL</li>
    <li>Transact-SQL</li>
    <li>ASP.Net MVC</li>
</ul>
