@{
    ViewBag.Title = "App Info";
}


<h2 class="pt-4 text-center" style="font-family: 'Quattrocento Sans', sans-serif; color: darkslateblue; font-weight: bold;">
    App Information
</h2>
<p class="pt-3 text-center" style="font-family: 'Quattrocento Sans', sans-serif; color: darkslategray;">
    What does this application do?
</p>
<div class="container-fluid pt-3">
    
    </div>