body {
}
.bg {
    background-image: url("./images/skyscraper.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
}

.jumbotron {
    background-color: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
}

.navbar-inverse {
    background-color: #60609f;
    border: none;
}

    .navbar-inverse .navbar-brand {
        font-family: 'Quattrocento Sans', sans-serif;
        color: #fff;
    }

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: wheat;
        background-color: transparent;
    }

.navbar-collapse ul {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
}
.row {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #3e4444;
}

.about {
    font-family: 'Quattrocento Sans', sans-serif !important;
}
