.bg {
    background-image: url("./images/skyscraper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #3e4444;
}

.navbar-inverse {
    background-color: #696969;
    border: none;
}

    .navbar-inverse .navbar-brand {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 18px;
        color: white;
    }
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: wheat;
        background-color: transparent;
    }

.navbar-collapse ul {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.row h1, h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #3e4444;
}

footer {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #3e4444;
}
