body {
    width: 100%;
}

.bg {
    background-image: url(/Content/images/skyscraper.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.jumbotron {
    background-color: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    
}



    .navbar-inverse .navbar-brand {
        font-family: 'Quattrocento Sans', sans-serif;
        color: #fff;
        font-size: 16px;
    }

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: wheat;
        background-color: transparent;
    }

.navbar-collapse ul {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
}
.row {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #3e4444;
}

.about {
    font-family: 'Quattrocento Sans', sans-serif !important;
}
